<section id="form-wrapper">
    <div class="mdl-card mdl-shadow--2dp">
        <form action="JavaScript:submitFeedback()" id="form-card">
            <h2>Feedback</h2>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="Experience" required pattern="\d+" id="Expereience-question">
                <label class="mdl-textfield__label" for="name">Rate Your Experience</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="Site Feedback" pattern="\d+" required id="sitefeedback-question">
                <label class="mdl-textfield__label" for="name">Rate the Site</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Submit Feedback</button>
        </form>
    </div>
</section>