<section id="form-wrapper">
    <div class="mdl-card mdl-shadow--2dp">
        <form action="/feedback" method="post" id="form-card">
            <h2>Feedback</h2>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="Experience~~~isNumeric~~~isMultipleChoice" required pattern="\d+" id="Expereience-question">
                <label class="mdl-textfield__label" for="name">Rate Your Experience</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="Site Feedback~~~isNumeric~~~isMultipleChoice" pattern="\d+" required id="sitefeedback-question">
                <label class="mdl-textfield__label" for="name">Rate the Site</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input text" type="text" name="General Comments" required id="comments-question">
                <label class="mdl-textfield__label" for="name">Comments</label>
            </div>
            <h6>How would you describe this Site</h6>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="describe-awesome-question">
            <input checked class="mdl-radio__button" id="describe-awesome-question" name="How would you describe this Site~~~isMultipleChoice" type="radio"
               value="Awesome">
            <span class="mdl-radio__label">Awesome</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="describe-alright-question">
              <input class="mdl-radio__button" id="describe-alright-question" name="How would you describe this Site~~~isMultipleChoice" type="radio" value="Alright I guess">
            <span class="mdl-radio__label">Alright I guess</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="describe-bad-question">
              <input class="mdl-radio__button" id="describe-bad-question" name="How would you describe this Site~~~isMultipleChoice" type="radio" value="Lame As Fuck">
              <span class="mdl-radio__label">Lame As Fuck</span>
            </label>
            
            <div class="g-recaptcha" data-sitekey="6LeoexgTAAAAAEHp1CxcggPucH5j-lsKm84oVr91" style="transform:scale(0.77);transform-origin:0 0"></div>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Submit Feedback</button>
        </form>
    </div>
</section>