<section id ="page-not-found-wrapper"> 
    <div class="mdl-card">
        <div id="page-not-found-area">
            <h2>(╯°□°)╯︵ ┻━┻</h2>
            <h4>Page Not Found</h4>
            <h6>....But here's the latest corgi pic from Instagram</h6>
            <div id="corgi"></div>
        </div>
    </div>
</section>