<section id ="page-not-found-wrapper"> 
    <div class="mdl-card">
        <div id="page-not-found-area">
            <h2>¯\_(ツ)_/¯</h2>
            {{#if error}}
                <h4>Error {{error}} has occured</h4>
            {{else}}
                <h4>Our bad, we have no idea what happened</h4>
            {{/if}}   
            <h6>Here's this cat pic from Instagram</h6>
            <div id="cat"></div>
        </div>
    </div>
</section>