<h2>Sandcastle Sails</h2>
<p>The Homepage view test</p>
<div>
	{{#if session.authenticated}}
		{{#if session.user.canEdit}}
		<a href='/sandcastle/div/design'>Create</a><br>
		<a href='/sandcastle/div/div'>Divs</a><br>
		{{/if}}
		{{#if session.user.isAdmin}}
		<a href='/sandcastle/user/users'>Users</a><br>
		{{/if}}
		<a href='/sandcastle/user/logout'>Log off</a>
	{{else}}
		<a href='/sandcastle/user/login'>Login</a><br>
		<a href='/sandcastle/user/signup'>Sign Up</a><br>
		<a href='/sandcastle/user/reset'>Reset Password</a><br>
	{{/if}}
    <a href='/feedback'>Feedback</a><br>
    <a href='/viewfeedback'>View Given Feedback</a>
</div>

