<section id="form-wrapper">
    <div class="mdl-card mdl-shadow--2dp">
        <form action="/sandcastle/user/resetPassword/{{email}}" method="post" id="form-card">
            <h2>Reset Password</h2>
            <div class="flash-error">{{flash.passowrdResetError}}</div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="uniqueId" required>
                <label class="mdl-textfield__label" for="uniqueId">Unique Id</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="password" required>
                <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="confirm" required>
                <label class="mdl-textfield__label" for="confirm">Confirm Password</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Reset Password</button>
        </form>
    </div>
</section>