<div class="container">
  <form action="/reset" method="post" class="form-edit col-md-6">
    <h2 class="form-edit-heading">Reset Password</h2>
    <div class="form-group">
      <label>Please enter your email to recieve directions to reset your password</label>
      <input type="text" name="email" placeholder="Enter your email" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-large btn-primary">Reset Password</button>
  </form>
</div>