<section id="form-wrapper" >   	
    <div class="mdl-card mdl-shadow--2dp">
        <form action="/reset" method="post" id="form-card">
            <h2>Reset Password</h2>
            <div class="flash-error">{{session.flash.resetPasswordError}}</div>
            <a>Please enter your email to recieve directions to reset your password</a>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" name="email" required>
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
           <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Reset Password</button>
        </form>
    </div>
</section>