<section id="form-wrapper">
    <div class="mdl-card mdl-shadow--2dp">
        <form action="/sandcastle/user/edit/{{user.id}}" method="post" id="form-card">
            <h2>Editing User</h2>
            <div class="flash-error">{{session.flash.UserError}}</div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" name="email" value={{user.email}}>
                <label class="mdl-textfield__label" for="email">Email Address</label>
            </div>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isAdmin">
                <input type="checkbox" id="isAdmin" name="isAdmin" class="mdl-checkbox__input" {{#if user.isAdmin}}checked{{/if}}>
                <span class="mdl-checkbox__label">Admin</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="canEdit">
                <input type="checkbox" id="canEdit" name="canEdit" class="mdl-checkbox__input" {{#if user.canEdit}}checked{{/if}}>
                <span class="mdl-checkbox__label">Can Edit</span>
            </label>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Save</button>
        </form>
    </div>
</section>