<h1>Create a Div</h2>
<br>
<form action="/sandcastle/div/design" method='post'>
	<input type="text" name="name" placeholder="Name" class="form-control">
	<br>
	<input type="text" name="page" placeholder="Page - leave blank if home" class="form-control">
	<br>
	<input type="text" name="index" placeholder="Index" class="form-control">
	<br>
	<button type="submit">Create</button>
</form>