#form-wrapper {
    display: flex;
    justify-content: center;
}
#form-card {
    @extend .contact-us-form;
    padding: 25px 45px 50px 45px;
}
#feedback-data-wrapper {
    display: flex;
    flex-direction: column;
}
#response-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.response {
    display: inherit;
    margin: 10px;
}
#page-not-found-wrapper {
    @extend #form-wrapper;
}
#page-not-found-area {
    text-align: center;
}